.settings
.classpath
.project
target
*/bin
*.ipr
*.iml
*.iws
.idea
*.aj
*target* 
*.jar 
*.war 
*.ear 
*.class
.project 
.metadata 
bin/** 
tmp/** 
tmp/**/* 
*.tmp 
*.bak 
*.swp 
*~.nib 
local.properties 
.classpath 
.settings/ 
.loadpath
log/
target/
.externalToolBuilders/
*.launch
log.roo
application.log*
